name: Fetch M3U8 mbc_variety

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  update-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  # يسمح بالـ push

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Fetch M3U8 mbc_variety using Puppeteer
        run: node fetch.js

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "action@github.com"
          git add data/mbc_variety.json
          git commit -m "Update mbc_variety JSON" || exit 0
          git push
