name: Fetch M3U8 Links with Puppeteer

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  update-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Fetch M3U8 using Puppeteer
        run: node fetch.js

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "action@github.com"
          git add data/*.json
          git commit -m "Update M3U8 links" || exit 0
          git push
